<h1>Adicionar Produto</h1>
<div>
  <input type="text" [(ngModel)]="newProductName" />
  <button (click)="addProduct()">Adicionar</button>
</div>
<h1>Editar Produto</h1>
<div>
  <input type="text" [(ngModel)]="editProductId" />
  <input type="text" [(ngModel)]="editProductName" />
  <button (click)="updateProduct()">Editar</button>
</div>
<h1>Remover Produto</h1>
<div>
  <input type="text" [(ngModel)]="removeProductId" />
  <button (click)="removeProduct()">Remover</button>
</div>
<h1>Campo de Busca</h1>
<div>
  <input
    type="search"
    [(ngModel)]="searchProductId"
    (keyup.enter)="getProductById()"
  />
  <p>Produto Encontrado: {{ (getProducts$ | async)?.name }}</p>
</div>
<h1>Lista de Itens</h1>
<p *ngFor="let product of products$ | async">
  {{ product.name }}
</p>
